<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnTheMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34ABA7E41E8B5DFC00873BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34EC07681E85CF7500185006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34EC077C1E85CF7600185006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
